@import url('__day/box-item__day.css');
@import url('__icon/box-item__icon.css');
@import url('__temp/box-item__temp.css');
@import url('__wind/box-item__wind.css');
.box-item:nth-child(1){
    flex-grow: .5;
    text-align:inherit;
    display: flex;

}
.box-item{
    text-align: center;
    border-right: 1px solid transparent;
}
.box-item:last-child {
    border: none;
}

@media screen and (min-width:320px) and (max-width:459px) {
    .box-item:first-child{
        display:block;
    }

}
