@import url('../blocks/body-style/body-style.css');
@import url('../blocks/form/form.css');
@import url('../blocks/button/button.css');
@import url('../blocks/weather/weather.css');
@import url('../blocks/geo/geo.css');
@import url('../blocks/container/container.css');
@import url('../blocks/box-big/box-big.css');
@import url('../blocks/box-item/box-item.css');
@import url('../blocks/box-small/box-small.css');
@import url('../blocks/info/info.css');
@import url('../blocks/popup/popup.css');

.test {
    text-align: center;
}
.test:nth-child(1) .box-item__temp_big{
    font-size: 10rem;
    margin: 0;

}
.test:nth-child(1) .box-item__day_more{
    font-size: 3rem;
    margin: 0;

}
.test1{
text-align: center;
}
button {
    background-color: transparent;
}
button.glo{
    font-size: 18px;
    color:#00c6ff;
    padding: 10px 20px;
    width:100px;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid #00C6FF;
   }
   button.glo:hover {
   background-position: 0 0;
   color:#fff;
   }
