@import url('./__container/body-style__container.css');

.body-style {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    /* filter: blur(3px); */
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 16px;
    color: #D2691E;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 425px) and (min-width: 325px) {
    body {
        font-size: 60px;
        font-family: sans-serif;
    }
}
