.body-style{
    background-image: url("https://avatanplus.com/files/resources/original/585ff20fda9df15936c98e17.jpg");
   /* filter: blur(3px); */
    font-family: sans-serif;
    font-size: 16px;
    color:#D2691E;
    max-width: 1440px;
    position: relative;
    margin: 0;


}

@media screen and (max-width: 425px) and (min-width: 325px) {
    body {
        font-size: 60px;
    }
}